<%- include Partials/header.ejs%>


<%- include Partials/main_nav.ejs%>
 
<body style="background-color: darkgrey ; color: black;">
    <main class="container">
 
     <h1 class="display-4">You are on <%= title %> page</h1><br><br><br>





    <div class = "row">
        <div id="Bio" class="col-12 col-lg-6 text-center">
            <img src="/Assets/images/Mypic.jpg" style="height: 500px; ; width: 350px;">

        </div>
        <div id="more" class="col-12 col-lg-6">
               <br><br><br>
            <h5>
                My name is Amritpal Singh. I was born and raised in Punjab, India. Currently, I am an international student studying software engineering
                technician program at Centennial College. I love playing video games and watch sci- fiction movies because i beilive the fiction we see in those
                pictures is the possible future of us. On the other hand video games can help to increase your vision, reflexes, hearing ability, problem solving
                and many more, its just you have to play right video games.
            </h5>
             <a href="/Assets/Resume1.docx"> My Resume </a>



        </div>

    </div>


  
</main>
</body>



<%- include Partials/bottom_nav.ejs%>

<%- include Partials/footer.ejs%> 