
<!--
Index.ejs
Muhammad Farhan Sohail
Student_id:301178646
Date:29-09-2022
  -->


<!--This is main navigation bar-->
<%- include Partials/header.ejs %>

<%- include Partials/main_nav.ejs %>

<body style="background-color: darkgrey ; color: black;">
  <main class="container">
 
     <h1 class="display-4">You are on  <%= title %> page</h1><br><br><br>

           
    <div class = "row">
        <div id="Bio" class="col-12 col-lg-6 text-center">
            <h4>This resembles my digital presence in certain ways. I am really appreciative that you visited my website to learn more about myself.</h4>
          

        </div>

        <div id="more" class="col-12 col-lg-6">
        <br><br><br><br><br><br><br>
            <h2>GOALS</h2>
            <ul>
                

                    <li>A Tech lover passionate to learn about softwares.</li>
                    <li>Get into the company and utilize my skills</li>
                    <li>Working in office is prefferable but work from home is love</li>
              


            </ul>

          

            <a href="/about" class="btn btn-primary"> About</a>
                    <br><br><br>


        </div>


    </div>

 



      
  
</main>
</body>
  

<%- include Partials/bottom_nav.ejs %>
<%- include Partials/footer.ejs %>


    



    








